<%= render "shared/header" %>

<main>
  <div class="main-container">
    <div class="side-container">
      <%= render "shared/user_sidebar" %>
    </div> 
 
    <div class="user-container">
      <div class="row">

        <% @favorite_clothings.each do |clothing| %>
        <% favorite = current_user.favorites.find_by(clothing_id: clothing.id) %> <!-- ここでfavoriteを取得 -->
          <div class="col-md-4">
            <div class="card">
 <div class="position-relative">
      <% if clothing.sold? %>
        <div class="sold-label">SOLD</div>  <!-- 売り切れラベル -->
      <% end %>
              <%= link_to clothing_path(clothing) do %>
                <% if clothing.image.attached? %>
                  <%= image_tag clothing.image, class: "card-img-top clothing-img" %>
                <% else %>
                  <%= image_tag "dummy.png", class: "card-img-top clothing-img" %>
                <% end %>
              <% end %>


              <div class="favorite-delete-button">
                          <%= form_with url: clothing_favorite_path(clothing, favorite), method: :delete, data: { turbo: true }, class: "d-inline" do %>
            <%= hidden_field_tag :from, "user" %>
               <button type="submit" class="clothing_favorites text-muted border-0 bg-transparent">
                <i class="bi bi-x-square-fill" style="font-size: 2rem;"></i>
               </button>
            <% end %>
 </div>

              </div>
              <div class="card-body">
                <h5 class="card-title"><%= clothing.item %></h5>
                <p class="card-text">¥<%= clothing.price %></p>



              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>

