<%= render "shared/header" %>

<main>
  <div class="main-container">
    <div class="side-container">
      <%= render "shared/user_sidebar" %>
    </div> 
 
 <div class="user-container">
  <div class="row">
  <% @favorite_clothings.each do |clothing| %>
      <div class="col-md-4">
        <div class="card">
          <%= image_tag clothing.image, class: "card-img-top" %>
          <div class="card-body">
            <h5 class="card-title"><%= clothing.item %></h5>
            <p class="card-text">¥<%= clothing.price %></p>
            <%= link_to "詳細を見る", clothing_path(clothing), class: "btn btn-primary" %>
            <%= link_to "お気に入り解除", clothing_favorites_path(clothing), method: :delete, class: "btn btn-danger" %>
          </div>
        </div>
      </div>
    <% end %>
    </div>
     </div>
     </div>
</main>




