<%= render "shared/header" %>
<h1>トップページ</h1>

  <div id="product-count" style="margin: 10px 0;">
  <!-- 検索数がここに表示されます -->
</div>




<div id="price-range-slider"></div>
<p>価格範囲: <span id="min-price-value">0</span> 〜 <span id="max-price-value">50000</span></p>



<div>
  <label>
    <input type="checkbox" id="free-word-checkbox"> チェックボックス（検索を有効にする）
  </label>
</div>
<div>
  <input type="text" id="free-word-search" placeholder="商品名や説明文を入力">
</div>




 
  

<div id="search-container">
  <input type="text" id="brand-search-box" placeholder="ブランドを検索">
  <ul id="brand-search-results" style="display: none; list-style: none; border: 1px solid #ccc; padding: 5px; max-height: 200px; overflow-y: auto;">
    <!-- ブランド検索結果表示 -->
  </ul>
</div>


<p>ブランド:</p>
 <% Brand.where.not(id: 1).each do |brand| %>
    <%= check_box_tag "brand_#{brand.id}", brand.id, false, class: "filter-checkbox", data: { filter: 'brand' } %> <%= brand.name %>
  <% end %>
<p>カテゴリー:</p>
 <% Category.where.not(id: 1).each do |category| %>
    <%= check_box_tag "category_#{category.id}", category.id, false, class: "filter-checkbox", data: { filter: 'category' } %> <%= category.name %>
  <% end %>


<p>性別:</p>
  <% Gender.where.not(id: 1).each do |gender| %>
    <%= check_box_tag "gender_#{gender.id}", gender.id, false, class: "filter-checkbox", data: { filter: 'gender' } %> <%= gender.name %>
  <% end %>

<p>年代:</p>
  <% Era.where.not(id: 1).each do |era| %>
    <%= check_box_tag "era_#{era.id}", era.id, false, class: "filter-checkbox", data: { filter: 'era' } %> <%= era.name %>
  <% end %>

<div>
  <p>色:</p>
  <% Color.where.not(id: 1).each do |color| %>
    <%= check_box_tag "color_#{color.id}", color.id, false, class: "filter-checkbox", data: { filter: 'color' } %> <%= color.name %>
  <% end %>
</div>

<div>
  <p>サイズ:</p>
  <% Size.where.not(id: 1).each do |size| %>
    <%= check_box_tag "size_#{size.id}", size.id, false, class: "filter-checkbox", data: { filter: 'size' } %> <%= size.name %>
  <% end %>
</div>

<p>状態:</p>
  <% Condition.where.not(id: 1).each do |condition| %>
    <%= check_box_tag "condition_#{condition.id}", condition.id, false, class: "filter-checkbox", data: { filter: 'condition' } %> <%= condition.name %>
  <% end %>

  
 <p>素材:</p>
 <% Material.where.not(id: 1).each do |material| %>
    <%= check_box_tag "material_#{material.id}", material.id, false, class: "filter-checkbox", data: { filter: 'material' } %> <%= material.name %>
  <% end %>
  
   <p>Made in:</p>
 <% MadeIn.where.not(id: 1).each do |made_in| %>
    <%= check_box_tag "made_in_#{made_in.id}", made_in.id, false, class: "filter-checkbox", data: { filter: 'made_in' } %> <%= made_in.name %>
  <% end %>




<div id="product-list">
  <!-- 商品リストがここに挿入されます -->
</div>

