 <!-- 管理者画面表示 -->
 <% if current_user&.admin? %>   
       <%= render "shared/admin_sidebar" %>
<% else %>
<!-- ユーザー画面表示 -->
<%= render "shared/header" %>
<main>
<% end %>

<div class="clothing-detail d-flex justify-content-center align-items-center">
  <!-- 画像エリア -->
  <div class="clothing-image-wrapper">
      <% if @clothing.sold? %>
        <div class="sold-label">SOLD</div>  <!-- 売り切れラベル -->
      <% end %>

      <% if @clothing.invisible? %>
        <div class="hidden-badge">invisible</div>  <!-- 非表示ラベル -->
      <% end %>
  <div class="clothing-image">
    <% if @clothing.image.attached? %>
      <%= image_tag @clothing.image, class: "clothing-img #{'hidden-image' if @clothing.invisible?}" %>
    <% else %>
      <%= image_tag "dummy.png", class: "clothing-img #{'hidden-image' if @clothing.invisible?}" %>
    <% end %>
  </div>
    </div>

  <!-- 情報エリア -->
  <div class="clothing-info">

      <div id="favorite-btn<%= @clothing.id %>">
       <% unless current_user&.admin? %> 
         <% if user_signed_in? && @clothing.favorite_by?(current_user)%>
             <%=link_to "お気に入り済", clothing_favorites_path(@clothing),  data: { turbo_method: :delete }, class: "clothing_favorites" %>
         <% else %>
             <%=link_to "お気に入り登録", clothing_favorites_path(@clothing), data: { turbo_method: :post }, class: "clothing_favorites" %>
         <% end %>
       <% end %> 
  </div>

    <h2><%= @clothing.item %></h2>
    <p><%= @clothing.description %></p>
    <p>¥<%= @clothing.price %></p>
    <p>ブランド: <%= @clothing.brand.name %></p>
    <p>年代: <%= @clothing.era.name %></p>
    <p>カテゴリー: <%= @clothing.gender.name %></p>
    <p>カテゴリ名: <%= @clothing.category.name %></p>
    <p>コンディション: <%= @clothing.condition.name %></p>
    <p>サイズ: <%= @clothing.size.name %></p>
    <p>カラー: <%= @clothing.color.name %></p>
    <p>素材: <%= @clothing.material.name %></p>
    <p>MADE IN: <%= @clothing.made_in.name %></p>


 <% if current_user&.admin? %> 
<p>公開ステータス:</p>
<span id="toggle-label"><%= @clothing.visible? ? "公開" : "非公開" %></span>
<label class="switch">
  <%= check_box_tag "visibility_toggle", "", @clothing.visible?, 
        id: "visibility_toggle", class: "toggle-checkbox", data: { clothing_id: @clothing.id } %>
  <span class="slider round"></span>
</label>

<% end %>



 <% unless Purchase.exists?(clothing_id: @clothing.id) %>
    <% if user_signed_in? %>
      <% if current_user.admin? %>
        <%= link_to '商品編集', edit_clothing_path, class: "btn btn-warning" %><br>
        <%= link_to '削除', clothing_path, data: {turbo_method: :delete}, class: 'btn btn-danger mt-2' %>   
      <% elsif current_user.user? %>
        <br><%= link_to "購入へ進む", new_clothing_purchase_path(@clothing), class: "btn btn-primary mt-2" %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

</main>
