<%= render "shared/header" %>
<main>
Hello  <%= current_user.nickname %>さん<br><br>
お気に入りリスト表示（仮）<br>
<br>
 <%= link_to 'ログイン情報詳細編集', edit_user_registration_path%><br>
<% if current_user.information.present? %>
<%= link_to 'ユーザー情報詳細編集', edit_information_users_path, class: "sign-up" %>
<% else %>
<%= link_to 'ユーザー情報登録', new_information_users_path, class: "sign-up" %>
<% end %>
</main>